@page
@model DBStore.Pages.Customer.Cat.OrderconfirmationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    @{
        ViewData["Title"] = "Orderconfirmation";

    }

    <div class="container row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order place successfuly !</h1>
            <p>Stay Home,Stay Safe <strong>Deshibipony is Delivering</strong></p>
            Your Order Number is : @Model.orderId <br /> <br />
            <img s />
        </div>

    </div>

