@page
@model DBStore.Pages.Shared.Components.ReviewsModel
@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="breadcrum-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrum-contain">
                    <div>
                        <h2 align="center">reviews</h2>
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="#">review</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="review  section-big-py-space">
    <div class="container">
        <h2 style="text-align:center;"><i>Comming Soon...</i></h2>
        </div>
    </section>
        @*<section class="review  section-big-py-space">
                <div class="container">
                    <div class="row review-block">
                        <div class="col-lg-4 col-md-6">
                            <div class="review-box">
                                <img class="img-fluid " src="~/Content/img/1093803.jpg" alt="review">
                                <h5>Abu Nayeem</h5>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div class="review-message">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <h6>(22 November 20 at 9:29AM )</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="review-box">
                                <img class="img-fluid " src="~/Content/img/1093803.jpg" alt="review">
                                <h5>Asraful</h5>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div class="review-message">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <h6>(22 November 20 at 9:29AM )</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="review-box">
                                <img class="img-fluid " src="~/Content/img/1093803.jpg" alt="review">
                                <h5>Md. Abdullah</h5>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div class="review-message">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <h6>(22 November 20 at 9:29AM )</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="review-box">
                                <img class="img-fluid " src="~/Content/img/1093803.jpg" alt="review">
                                <h5>Abu Nayeem</h5>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div class="review-message">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <h6>(22 November 20 at 9:29AM )</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="review-box">
                                <img class="img-fluid " src="~/Content/img/1093803.jpg" alt="review">
                                <h5>Abu Nayeem</h5>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div class="review-message">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <h6>(22 November 20 at 9:29AM )</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="review-box">
                                <img class="img-fluid " src="~/Content/img/1093803.jpg" alt="review">
                                <h5>Asif Shikder</h5>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <div class="review-message">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <h6>(22 November 20 at 9:29AM )</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
