@page
@model DBStore.Pages.Customer.Home.AbountModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="breadcrum-main section-big-py-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrum-contain">
                    <div>
                        <h2 align="center">Abount</h2>
                        <ul>
                            <li><a href="/Customer/Home/Index">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="#">Abount </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section__content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about">
                    <div class="about__container">
                        <div class="about__info">
                            <h2 class="about__h2">Welcome to DeshiBipony!</h2>
                            <div class="about__p-wrap">
                                <p class="about__p">
                                    Deshibipony is a trusted online shop in Bangladesh.After our establishment we're continuously working on various qualitative products.With the help of hard working and professional group of people we've always met customers expected demand.
                                    As our motto is "Quality is our priority",we've never compromised with products  quality and always try to sell it on reasonable and good price.Thus we've always got hundred percent customers satisfaction.
                                    Our sell region is whole Bangladesh.People from any place in Bangladesh can order our products from our facebook page (add the link, facebook community group (group link) or from this site.We'll try to hand over the products within 4-7 working days in any district and 2-4 working days in Dhaka & Barishal city.
                                    Deshibipony is the trusted marketplace you'll ever find.
                                    Stay with us.Thank you.
                                </p>
                            </div>

                            <a class="primary-btn" href="~/Product/index" target="_blank">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="u-s-m-b-30">
    <div class="section__intro u-s-m-b-46">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary u-s-m-b-12">CLIENTS FEEDBACK</h1>

                        <span class="section__span u-c-silver">WHAT OUR CLIENTS SAY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__content">
        <div class="container">-->

            <!--====== Testimonial Slider ======-->
            <!--<div class="slider-fouc">
                <div class="owl-carousel" id="testimonial-slider">
                    <div class="testimonial">
                        <div class="testimonial__img-wrap">

                            <img class="testimonial__img" src="images/about/test-1.jpg" alt="">
                        </div>
                        <div class="testimonial__content-wrap">

                            <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                            <blockquote class="testimonial__block-quote">
                                <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                            </blockquote>

                            <span class="testimonial__author">John D. / DVNTR Inc.</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>-->