@page
@model DBStore.Pages.Customer.Home.CampaignModel
@{
}

<div class="Container">
    <div class="row">
        <br />
        <h3 style="text-align:center;"><i>Comming Soon...</i></h3>
        <br />
    </div>
</div>
