@page
@model DBStore.Pages.Customer.Home.ConditionModel
@{
    ViewData["Title"] = "Terms & Condition";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="breadcrum-main section-big-py-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrum-contain">
                    <div>
                        <h2 align="center">Abount</h2>
                        <ul>
                            <li><a href="/Customer/Home/Index">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="#">Terms & Conditions </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section__content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <ol id="AS" style="color:black;">
                    <li>DeshiBipony gives full security for your personal information .We don't share any of data/information to anyone.</li>
                    <li>DeshiBipony tries to handover your products within 2-4 working days.But for some inconvenient situation handover dates can be delayed.But we always try to handover it as fast as we can.</li>
                    <li>DeshiBipony doesn’t have any brunch.So make sure you don't be connected with non-authorized page/website/person and don't get bamboozled by frauds.</li>
                    <li>If you get spoofed by any non-authorized page/website/person,DeshiBipony will take any responsibility.</li>
                    <li> Delivery dates can slightly be delayed for carrier,courier service or weather issues.And as it is not in our hand,we'll not take responsibility for this delay.But be sure that,you’ll get your product.</li>
                    <li>DeshiBipony doesn't support fake or paid reviews.So if someone does this kind of act, surely they'll be banned.</li>
                    <li>If anyone use slang or do inappropriate acts/behaviour we'll ban them without any second thought.</li>
                    <li>😎 We sell both original and master copies.Make sure which one you want.</li>
                    <li>After receiving payment we'll send you a confirmation message,please save this for information for further use</li>
                    <li>If by chance you get any faulty products,you’ll have to inform us at the very moment you received it.If you don't inform us within 24 hours,we'll not take the responsibility.</li>
                    <li>Faulty products can be returned/changed if you inform and send it back tk us within 2-3 working days.</li>
                    <li>You’re free to choose any model/design/colour of available products. After order confirmation if someone wants different colour/design/model they'll have to give extra charges.</li>
                    <li>If anyone gives wrong address at the time of order confirmation,they'll have give full payment.And moreover DeshiBipony will not be responsible for this inconvenience.</li>
                    <li>People under 18 can't order some items/products due to legal issues.</li>
                    <li>If the product is unavailable due supply scarcity DeshiBipony has full right to nullify any order.</li>
                    <li>We always try to hand you over the best product within a reasonable price.But if the price  rises form supply chain or for any reasons,DeshiBipony has full right to increase the price in need.Again remember that,we don't have any control over unwanted situations .We try to do our best,to give you the best.</li>
                    <li>Occasionally there are informational errors, omissions or omissions on our website or in some services that may be related to product details, prices, promotions, offers, shipping charges and availability. We store information to correct any errors, omissions or errors, and to change or update the information or to cancel the order.Be patient,have trust.</li>
                    <li>DeshiBipony authority has full right to discretion,change,replace or update any part of this terms and condition.</li>
                   





                </ol>

            </div>
        </div>
     </div>
</div>