@page
@model DBStore.Pages.Customer.Home.FAQModel
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="breadcrum-main ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrum-contain">
                        <div>
                            <h2 align="center">FAQ</h2>
                            <ul>
                                <li><a href="#">home</a></li>
                                <li><i class="fa fa-angle-double-right"></i></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-area section-big-py-space">
        <div class="single-faq-wrap pt-120 pb-100">
            <div class="container">
                <div class="faq-title mb-60">
                    <h2>General Question</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel-group" id="accordion">
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion1">
                                            when is deshibipony established ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion1" data-parent="#accordion" class="panel-collapse collapse" style="">
                                    <div class="panel-body">
                                        <p>Deshibipony was established on 08-12,2020 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion2">
                                            how to Getting registered on deshibipony ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion2" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>You can get registered in our shop by simply clicking on "Register Now" button and then give the needed information.This is that simple. Have a good day.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion3">
                                            Regions ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion3" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>We deliver any product all over the Bangladesh.Just order it as your choice and it'll be at your district as soon as possible. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion4">
                                            how to do placing an order at deshibopony ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion4" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Just click on the products and then buy now.Next you'll have select on payment method and confirm your payment. Enjoy your shipping. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion5">
                                            what is product Receiving procedure ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion5" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>After confirming payment,your products will be handed over as soon as possible to the transporters agency of your district. We'll confirm your products shipping stage by sms. Happy shipping. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel-group" id="accordion">
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion6">
                                            How long is the delivery time ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion6" data-parent="#accordion" class="panel-collapse collapse" style="">
                                    <div class="panel-body">
                                        <p>You'll receive your products within maximum 7 working days.In Dhaka or Barishal district you'll receive within 3/4 working days. Enjoy your shopping with Deshibipony. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion7">
                                            Why choose Deshibipony ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion7" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Deshibipony ensures qualitative products and doesn't have any chance of trust issues. As per our motto is "Quality is our priority". </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion8">
                                            My order is wrong. What do I do ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion8" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Please Immediately call +8801760-900694 and let us know the problem. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion9">
                                            How much do deliveries cost ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion9" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>There is a BDT 45 delivery fee if the order value is BDT 300 or more. If the order value is less than BDT 300, we charge BDT 50-60 delivery fee. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel faq-accordion mb-20">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-target="#faq-accordion10">
                                            Maecenas malesuada malesuad ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq-accordion10" data-parent="#accordion" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
