<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6" id="footerC">
                <div class="footer">
                    <div class="footer-logo">
                        <div class="logo">

                            <img src="~/Deshi-Bipony-jpg.jpg" asp-append-version="true" />

                        </div>

                    </div>

                    <div style="margin-bottom:5px;"> <i class="fa fa-home"></i><span> Nikinja-2,Khilkhet,Dhaka</span></div>
                    <div> <i class="fa fa-phone"></i><span> 01936209794</span></div>
                    <div style="margin-bottom:5px;"> <i class="fa fa-envelope"></i><span> deshibipony@gmail.com</span></div>

                    <!-- footer social -->
                    <div class="footer-social">
                        <a class="icon" href="https://www.facebook.com/deshibipony"><i class="fa fa-facebook"></i></a>
                        <a class="icon" href="https://www.youtube.com/deshibipony"><i class="fa fa-youtube"></i></a>
                        <a class="icon" href="https://www.instagram.com/deshi_bipony"><i class="fa fa-instagram"></i></a>
                        <a class="icon" href="https://www.gmail.com/deshibipony@gmail.com"><i class="fa fa-google-plus"></i></a>
                        
                    </div>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer" style="color:#fff;">
                    <h3 class="footer-header">My Account</h3>
                    <ul class="list-links">
                        <li><a href="/Customer/Account/ManageAccount">My Account</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Compare</a></li>
                        <li><a href="/Customer/Cat/Summary">Checkout</a></li>
                        <li><a href="/Identity/Account/Login">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        <li><a href="/Customer/Home/abount">About Us</a></li>
                        <li><a href="/Customer/Home/Condition">Shiping & Return</a></li>
                        <li><a href="#">Shiping Guide</a></li>
                        <li><a href="/Customer/home/FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->
            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Online payment services are not available at this moment but we are trying to improve our payment system very soon. But you can send money through bKash, Rocket & Nagad while buying your products.</p>
                
                    <div class="form-group">
                        <div class="payment_icons">
                            <ul>

                                <li><img src="~/payment.png" alt="" asp-append-version="true"></li>

                                <li><h3 style="text-align:center; color:#fff"> OR </h3></li>
                                <li><img style="width:100px;height:60px;" src="~/cash-on-delivery-icon-14.jpg" alt="" asp-append-version="true"></li>

                            </ul>
                        </div>

                    </div>
                       
                   
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |deshibipony.com 



                    </div>

                </div>
                <div class="col-md-6">
                    Development & Design by Asif Shikder | Md. Abu Nayeem
                </div>
                
            </div>
        </div>
    </div>
</footer>
