
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DeshiBipony-Online Shopping Bangladesh</title>
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />
</head>

<body>

    <div class="loader">
        <div class="inner"></div>
    </div>
    @await Html.PartialAsync("_Header")
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        @await Html.PartialAsync("_Navbar")
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->

    <div id="">
        @RenderBody()

    </div>

    @await Html.PartialAsync("_Footer")



    @*<i class="fa fa-arrow-up" aria-hidden="true"></i>*@


    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.10/cleave.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.10/addons/cleave-phone.us.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>


    @*<a href="#" class="totop totop-is-visible totop-fade-out"> </a>*@

    @*<script src="~/Content/js/jquery.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/slick.min.js"></script>
        <script src="~/Content/js/nouislider.min.js"></script>
        <script src="~/Content/js/jquery.zoom.min.js"></script>
        <script src="~/Content/js/main.js"></script>
        <script src="~/js/AppUtil.js"></script>
        <script src="~/js/notify.js"></script>
        <script src="~/lib/ImageManager.js"></script>
        <script src="~/js/SmoothScroll.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/move-top.js"></script>*@
    @*<script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>

</html>
