<div class="container">
    <div id="responsive-nav">
        <div class="category-nav show-on-click">
            <span class="category-header">Categories <i class="fa fa-list"></i></span>
            <ul class="category-list">
                <li class="dropdown side-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women’s Clothing <i class="fa fa-angle-right"></i></a>
                    <div class="custom-menu">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-links">
                                    <li>
                                        <h3 class="list-links-title">Categories</h3>
                                    </li>
                                    <li><a href="#">Women’s Clothing</a></li>
                                    <li><a href="#">Men’s Clothing</a></li>
                                    <li><a href="#">Phones & Accessories</a></li>
                                    <li><a href="#">Jewelry & Watches</a></li>
                                    <li><a href="#">Bags & Shoes</a></li>
                                </ul>
                                <hr class="hidden-md hidden-lg">
                            </div>
                            <div class="col-md-4">
                                <ul class="list-links">
                                    <li>
                                        <h3 class="list-links-title">Categories</h3>
                                    </li>
                                    <li><a href="#">Women’s Clothing</a></li>
                                    <li><a href="#">Men’s Clothing</a></li>
                                    <li><a href="#">Phones & Accessories</a></li>
                                    <li><a href="#">Jewelry & Watches</a></li>
                                    <li><a href="#">Bags & Shoes</a></li>
                                </ul>
                                <hr class="hidden-md hidden-lg">
                            </div>
                            <div class="col-md-4">
                                <ul class="list-links">
                                    <li>
                                        <h3 class="list-links-title">Categories</h3>
                                    </li>
                                    <li><a href="#">Women’s Clothing</a></li>
                                    <li><a href="#">Men’s Clothing</a></li>
                                    <li><a href="#">Phones & Accessories</a></li>
                                    <li><a href="#">Jewelry & Watches</a></li>
                                    <li><a href="#">Bags & Shoes</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </li>

                <li><a href="#">Men’s Clothing</a></li>

                <li><a href="#">Computer & Office</a></li>
                <li><a href="#">Consumer Electronics</a></li>

                <li><a href="#">Bags & Shoes</a></li>
                <li><a href="#">View All</a></li>
            </ul>
        </div>

        <div class="menu-nav">
            <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
            <ul class="menu-list">
                <li><a href="/Customer/Home/Index">Home</a></li>
                <li><a href="/Customer/Product/Index">All Product</a></li>
                <li><a href="/Customer/Offer/Index">Offer Zone</a></li>
                <li><a href="/Customer/Product/Newest">Newest</a></li>
                <li><a href="/Customer/Product/BestRated">Most Rated</a></li>
                <li><a href="/Customer/Home/RequestProduct/RequestProduct">Not found?</a></li>
                <li><a href="/Customer/Home/Campaign">Campaign</a></li>
                @*<li><a href="/Customer/Home/Community">Community</a></li>*@
            </ul>
        </div>

    </div>
</div>